<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<head>
    <meta charset="UTF-8">
    <title>Chatbot</title>
</head>
<body>
<div class="container">
    <div class="chatbox">
        <div id="chatbox_main" class="chatbox__support">
            <div class="chatbox__header">
                <div class="chatbox__image--header">
                    <img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png" alt="image">
                </div>
                <div class="chatbox__content--header">
                    <h4 class="chatbox__heading--header">Chat support</h4>
                    <p class="chatbox__description--header">Hi. My name is Sam. How can I help you?</p>
                </div>
            </div>
            <div class="chatbox__messages">
                <div class="messages__item messages__item--visitor">
                    Welcome to IMDB Movie Database!<br><br>
                    You can ask things like search for a movie or recommend a movie to me
                </div>
          
                <!-- <div></div> -->
                
                
            </div>
            <div class="chatbox__footer">
                <input type="text" placeholder="Write a message...">
                <button class="chatbox__send--footer mainmenu__button">Main<br>Menu</button>
                <button class="chatbox__send--footer send__button">Send</button>
            </div>
        </div>
        <!-- <div class="chatbox__button">
            <button><img src="https://www.w3schools.com/images/lamp.jpg" /></button>
        </div> -->
    </div>
</div>

    <!-- <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson }};
    </script> -->
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>

</body>
</html>